/* .icon-container {
  position: relative;
  font-size: 1.6rem;
  padding: 0.2rem;
}

.icon-container::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -3;
  border-radius: 50%;
  background-color: #f4c237;
} */
